<h1>New Game</h1>
<h1><%= @letters %></h1>
<h2>What is the longest word you can find?</h2>

<form action="/score" data-turbo="false">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :letters, @letters %>
  <input type="text" name="new">
  <input type="submit" value="Play">
</form>
